<div class="div jumbotron mt-4">
    <h1 class="h1 display-4">File Manager</h1>
    <p class="lead"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi sint debitis voluptas quo, quasi totam nostrum
        laudantium placeat nesciunt ipsa reprehenderit enim nemo aperiam deleniti assumenda! Unde sed repellat error?
    </p>
</div>